:root{
    --royal-blue:royalblue;
    --warm-black : #333;
    --alice-blue: aliceblue;  
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    font-size: 62.5%;
    font-family: 'Encode Sans', sans-serif;
}

.header{
    position: relative;
    display: flex;    
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--royal-blue);
}

.header--logo{
    height: 50px;
    width: 250px;
    margin-top: 20px;
}

.header--titulo {
    width: 90%;
    margin: 10px auto;
    text-align: center;
    font-size: 3rem;
    line-height: 2rem;
    font-weight: bold;
    color: var(--warm-black);
}

.main {
    width: 100%;
    min-width: 320px;
    padding: 5px;
    background-color: var(--warm-black);
}

.main--container{
    position: relative;    
    width: 100%;    
    border-left: 5px solid var(--alice-blue);
    padding-left: 5px;    
}

body::-webkit-scrollbar {
    background-color: var(--warm-black);
    width: 3px;
  }
body::-webkit-scrollbar-thumb {
    background-color: var(--alice-blue);
}

.main--notas{
    font-size: 1.5rem;
    color: var(--alice-blue);
    padding: 10px;
}

.main-quote {
    display: none;
}

.footer {
    width: 100%;
    min-width: 320px;
    height: 150px;
    background-color: var(--royal-blue);
    color:aliceblue;
    padding-top: 20px;
    padding-left: 50px;   
}

.footer--creditos ul{
    list-style: none;
}

.footer--creditos li{
    padding: 5px 0;
    font-size: 1.5rem;
    line-height: 1.5rem;
    font-weight: bold;
}

.footer--creditos a{
    text-decoration: none;
    color: var(--alice-blue);
}

