* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html{
    font-size: 62.5%;
    font-family: 'Courier New', Courier, monospace;
}

body {
    font-size: 1.6rem;
    height: 100vh;
    width: 100vw;
    display:flex;    
    flex-direction: column;
}

.header{
    width: 100%;
    height: 100px;
    background-color: #c6c6c6;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.logo{
    height: 70px;
    width: 320px;
    margin-left: 50px;    
}

.titulo {
    padding-left: 50px;
}
.titulo >span {
    font-size: 3.9rem;
    font:bold;
}

.main {
    margin: 0.2rem;
    padding: 0.2rem;
    border: 0.2rem dotted dodgerblue;
    height: 100%;
    overflow-y: scroll;    
}
.quote{
    position: absolute;;
    right: 30px;
    top: 50px;
    box-shadow: 5px 2px 10px 0px #333;
    width: 300px;
    height: 150px;
}

.footer {
    width: 100%;
    height: 100px;
    background-color: #c6c6c6;
    display:inline-block;
    margin: 0 auto;
}